body {
  margin: 20px;
}

/* 블록 상자 */
h1 {
  background-color: #fcf;
}

.bootcamp {
  /* 오 마진은 투명해서 겹쳐지는건데 이렇게 테두리하면 겹쳐지지 않음 */
  border: 2px solid red;
  width: 500px;
}
p {
  background-color: #cff;
  margin-block: 10px;
}

/* 인라인 상자 */
strong {
  background-color: #ffc;
  /* 인라인 상자일 경우 width를 설정할 수 없지만 inline-block으로 설정하면 그다음부터 width설정 가능하다 */
  width: 100px;
  /* 인라인 상자는 창이 좁아졌을경우 상자가 쪼개지는데 아래 block처리하면 쪼개지지 않고 바로 아래로 줄바꿈함 */
  display: inline-block;
}

/* 안쪽 여백 - padding*/
.like {
  padding: 10px;
}

.lion {
  padding: 10px 20px;
}

.love {
  padding-left: 20%;
}

.front {
  padding-left: 3em;
}

.end {
  /* 자기 부모 컨테이너에 width에 따라 20% 되는거임 height 를 기준으로 가는건아님 무조건 width임 */
  padding-left: 20%;
  padding-top: 20%;
}

/* 바깥쪽 여백 - margin */
.euid {
  border: 2px solid green;
  width: 800px;
  margin: 0 auto;
}
h1 {
  /* margin은 음수 사용 가능함 */
  margin: 20px -20px;
}

p {
  /* 마진은 병합되는 현상이 있기때문에  */
  margin: 20px 0;
}

.like {
  margin-bottom: 30px;
}

.bootcamp {
  /* 몰랐다 오토로 돌리면 부모 크기에서 자기 크기 빼고 남은거에서 auto로 할당하는거였음 크기를  */
  margin: 0 0 0 auto;
}

/* 음수 마진 */
.container {
  border: 2px solid blueviolet;
  margin: 20px auto;
  width: 800px;
  /* display: flow-root; */
  display: flex;
}

.container div {
  width: 80px;
  height: 80px;
  border: 1px solid red;
  border-radius: 50%;
  align-content: center;
  padding-left: 1em;
  /* 이렇게 하면 숫자가 가운데에 있어야 하는데.. */
  /* float: left; */
}

.container div:nth-child(n + 2) {
  margin-left: -20px;
}

.container div:first-child {
  background-color: var(--yellow);
}

.container div:nth-child(2) {
  background-color: var(--pink);
}
.container div:nth-child(3) {
  background-color: var(--aqua);
}
.container div:last-child {
  background-color: var(--mint);
}

.container div:hover {
  z-index: 100;
}
