body {
  margin: 20px;
}

/* 배경 스타일링 */
/*body {
  background-color: #ffc;
  background-image: url('/src/assets/images/sun.png'), url('/src/assets/images/cloud.png');
  /* norepeat 는 배경이미지가 한장만 나온거 위에는 반복해서 사진을 꽉 채운거고 */
/* 둘다 따로 지정 가능함 왼쪽은 해 오른쪽은 구름 x열로 반복하라는것 */
/* background-repeat: no-repeat, repeat-x;
  background-size:
    100px 100px,
    200px 150px; */
/* background-position: 200px 150px; */
/* background-position: 50% 30%; */
/* attachment 로 안하면 컨텐츠 길이에 따라 배치가 달라지지만 fixed 해두면 위에 position해둔 배치 딱 거기다 */
/* background-attachment: fixed; */
/* } */

/* 위에 짠 코드를 background속성으로 축약해서 표기함 */
body {
  /* position값 먼저 주고 / 한다음 사이즈를 제공해야 얘가 읽은다  */
  /* 오호 보니까 순서대로 즉 마지막에 적은애는 가장 밑바닥 레이어로 따지는거라 배경색을 맨 마지막에 넣어야 해석가능 즉 햄버거 처럼 배경색 위에 구름 위에 해 순으로 레이어를 쌓아야함 */
  background:
    url('/src/assets/images/sun.png') no-repeat 50% 30% / 100px 100px fixed,
    url('/src/assets/images/cloud.png') no-repeat 50% 30% / 200px 150px fixed,
    #ffc;
}

/* linear gradient */
.like {
  background-color: pink;
  background-image: linear-gradient(red, green);
}

.lion {
  margin-top: 50px;
  background-color: pink;
  background-image: linear-gradient(to top, red, green);
}

.bootcamp {
  margin-top: 50px;
  background-color: pink;
  background-image: linear-gradient(-45deg, red 30%, green 100%);
}
