body {
  margin: 20px;
}

.container {
  background: yellow;

  div {
    margin-block: 20px;
  }

  .like {
    column-width: 100px;
    column-rule: 5px solid green;
  }

  .lion {
    column-count: 2;
    column-rule: 5px solid red;

    .euid {
      display: block;
      background: teal;
      color: white;
      /* display block일대 all 해야 지정이 된다 */
      column-span: all;
    }
  }

  .bootcamp {
    columns: 3 100px;
    column-gap: 50px;
  }
}
