:root {
  --white: #fff;
  --gray: #878787;
  --gray-dark: #14182c;
  --blue-100: #3030e0;
  --blue-200: #24388d;
  --blue-300: #111166;

  --start-color: var(--blue-100);
  --end-color: var(--blue-300);
}

body {
  margin: 20px;
}

/* 이디야 뉴스 */
.news {
  background: var(--blue-200);
  color: var(--white);
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr max-content;
  grid-template-rows: auto;
  gap: 8px;
  .news-title,
  a,
  time {
    padding: 0.5em;
  }

  .news-list,
  .news-item {
    display: contents;
  }

  .news-title,
  .more {
    order: -1;
  }

  /* .more {
    grid-area: 1/2;
  } */

  a:not(.more) {
    /* 줄바꿈 안일어나게 하는 것  */
    /* 이 아래 3줄은 말줄임표일때 세트임 근데 이건 한줄만 가능함 여러줄 나오는데 넘어오는건 이걸로 처리 못함 그럴때는 line-clamp속성 이용 */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .more {
    justify-self: end;
  }
}

/* 이디야 공지사항 */
/* .notice {
  background: var(--blue-200);
  display: grid;
  grid-template-columns: 125px minmax(150px, 1fr);
  grid-template-rows: auto;
  padding: 1.25rem;
  gap: 0.625rem;
  color: var(--white);

  .news-content {
    p {
      padding-top: 20px;
    }
  }

  .notice-buttons {
    justify-self: end;
    button {
      background-color: transparent;
      border: none;
    }
  }
} */

/* 이디야 공지사항 */
.notice {
  display: grid;
  grid-template-columns: 125px minmax(150px, 1fr);
  border: 1px solid var(--gray-dark);

  .notice-title,
  .notice-buttons {
    grid-column-start: 1;
    grid-row-start: 1;
  }

  .notice-title {
    padding: 16px 0 16px 16px;
    background: radial-gradient(circle at left top, var(--start-color), var(--end-color));
    color: var(--white);
    font-size: 20px;
  }

  .notice-content {
    background: var(--white);
    padding: 16px;

    h3 {
      font-size: 18px;
    }

    time {
      color: var(--gray);
      font-size: 12px;
    }

    p {
      margin-block-start: 16px;
    }
  }

  .notice-buttons {
    /* justify-self: end;
    align-self: end; */
    place-self: end;
    margin: 10px;
    display: flex;
    flex-flow: row nowrap;

    button {
      border: 0 none;
      background: transparent;
      padding: 0;
    }
  }
}
