body {
  margin: 20px;
}

/* 여백 20식 컨텐츠들은 4px */
.notification {
  --green: #22be61;
  --gray: #9b9a90;
  --black: #121212;
  --white: #fff;

  --point-color: var(--green);
  --text-color: var(--gray);
  --bg-color: var(--white);

  border: 1px solid currentColor;
  color: var(--text-color);
  border-radius: 0.25rem;
  padding: 1.25rem;
  display: flex;
  flex-flow: row nowrap;
  gap: 1.25rem;
  /* row축일때 y축방향을 배치를 원하면 align-items */
  align-items: center;

  .notification-icon {
    flex: 0 0 auto;

    rect {
      fill: var(--point-color);
    }
  }

  .notification-content {
    /* 컨텐츠 부분만 유연하게 만든거임 */
    flex: 1 1 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    row-gap: 4px;

    strong,
    time {
      color: var(--point-color);
    }

    strong {
      font-size: 1.125rem;
      font-weight: 700;
    }

    time {
      font-size: 0.75rem;
      margin-inline-start: auto;
    }

    p {
      /* p에 width값을 줘서 한 공간을 다 차지하게 하면 줄바꿈으로 아래로 내려감 */
      inline-size: 100%;
      font-size: 0.875rem;
    }
  }
}
/* 레이아웃 */
.notification-wrapper {
  --gap: 30px;

  display: flex;
  flex-flow: row wrap;
  row-gap: var(--gap);

  @media (width>600px) {
    column-gap: var(--gap);
  }

  li {
    display: contents;
  }

  .notification {
    inline-size: 100%;

    /* 갭 1개 컨텐츠 두개 */
    @media (width>=601px) {
      inline-size: calc((100% - var(--gap) * 1) / 2);
    }

    /* 갭 3개 컨텐츠 4개일때 */
    @media (width>=1001px) {
      inline-size: calc((100% - var(--gap) * 3) / 4);
    }
  }
}

/* 아래처럼 하면 은근 코드관리가 어렵다 */
/* @media all and (min-width: 601px) {
  .notification-wrapper {
    --gap: 20px;

    flex-flow: row wrap;
    column-gap: var(--gap);

    .notification {
      /* flex: 1 1 0; */
/* inline-size: calc(50% - (var(--gap) / 2));
    }
  }
} */

/* @media all and (min-width: 1001px) {
  .notification-wrapper {
    flex-wrap: nowrap;
  }

  .notification {
    /* flex: 1 1 0; */
/* inline-size: calc(25% - (var(--gap) / 2));
  }
} */
