body {
  margin: 20px;
}

/* 유틸리티 바 */
/* .utility-bar {
  --margin: 8px;

  padding: 8px;

  li {
    display: inline-block;

    a {
      text-decoration-line: none;
      text-transform: uppercase;
      color: black;
      display: inline;
    }

    span {
      margin-left: var(--margin);
      margin-right: var(--margin);
    }
  }
} */

/* 유틸리티 바 */
.utility-bar {
  text-transform: uppercase;
  font-size: 0;
  text-align: right;

  li {
    display: inline-block;
  }

  a,
  span {
    display: inherit;
    font-size: 1rem;

    padding: 8px;
  }
}
